.button-container {
    display: block;
    margin: auto;
    width: 80%;
}

.button-container button {
    font-family: "Garamond", "Times New Roman", serif;
    border-style: none;
    padding: 1em;
    margin-top: 10px;
    width: 100%;
    background-color: white;
}

.button-container button:hover {
    background-color: #fff7ae;
}
