<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="css/general.css"/>
        <link rel="stylesheet" href="css/admin.css"/>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <h1>Admin Settings</h1>
        <div class="settings-container">
            <table>
            </table>
        </div>
    </body>
</html>