<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/general.css"/>
        <link rel="stylesheet" href="css/index.css"/>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="heading-container">
            <h1>REPERTOIRE MANAGER</h1>
            <h2>A Repertoire Reference Tool</h2>
        </div>
        
        <div class="button-container">
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/registration'">Register</button>
        </div>
    </body>
</html>