<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/general.css"/>
        <link rel="stylesheet" href="css/login.css"/>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="heading-container">
            <h1>Repertoire Manager Login</h1>
        </div>
        <div class="form-container">
            <form action="/authenticate" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input id="submit-button" type="submit" value="Login">
            </form>
        </div>
    </body>
</html>