<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="css/general.css"/>
        <link rel="stylesheet" href="css/login.css"/>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="form-container">
            <h1>Register Access to Repertoire Manager</h1>
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input id="submit-button" type="submit" value="Register">
            </form>
        </div>
    </body>
</html>